<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>o mnie</title>
    </head>
    <body>
        <a href="/">Strona Główna</a>
        <a href="/about">O mnie</a>
        <a href="/blog">Blog</a>
        <h1>kim jestem?</h1>
        <p>Jestem entuzjastką nowych technologii, programowania i finansów.</p>
        <p>Ta strona nie zawiera jeszcze zbyt wielu informacji o mnie.</p>
        <p>Stopniowo będę ulepszać tę stronę i dodawać więcej ciekawych treści.</p>
        <p>Dzięki za odwiedziny!</p>
    </body>
</html>