---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Mój blog";
---


<BaseLayout pageTitle={pageTitle}   >
        <p>tutaj znajdziesz wszystkie moje wpisy na temat finansów.</p>
        <ul>
            <li><a href="/posts/post_1">Moje początki z blogiem</a></li>
            <li><a href="/posts/post_2">Nowa misja?</a></li>
            <li><a href="/posts/post_3">Moje plany na przyszłość</a></li>
        </ul>
</BaseLayout>