---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Strona Główna";
---
<BaseLayout pageTitle={pageTitle}> 
    <h2>Cześć! Witaj na mojej stronie głównej.</h2>   
</BaseLayout>






        