<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Strona Główna</title>
    </head>
    <body>
        <h1>Witamy na Stronie Głównej</h1>
        <p>To jest przykładowa strona główna stworzona za pomocą Astro.</p>
    </body>
</html>