---
import Social from './Social.astro';
---
<style>
    footer {
        background-color: rosybrown;
        border-radius: 5px;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p>© 2026 Magdalena Banasik. Wszelkie prawa zastrzeżone.</p>
    <p>Znajdź mnie na: </p>
    <Social platform="github" username="leniaczek" />
    <Social platform="linkedin" username="in/magdalena-banasik-99aa4918/" />
</footer>
