---
import Navigation from '../components/Navigation.astro';
---
<style>
    header {
        background-color: rosybrown;
        border-radius: 5px;
        padding: 1rem;
    }
</style>
<header>
    <nav>
            <Navigation />
    </nav>
</header>