---
const { platform, username } = Astro.props;
---
<a href={`https://${platform}.com/${username}`}>{platform}</a>

<style>
    a {
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: white;
        background-color: crimson;
        border-radius: 5px;
    }   
</style>