---
const { frontmatter } = Astro.props;
---
<meta charset="UTF-8" />
<h1>{frontmatter.title}</h1>
<p>Autor: {frontmatter.author}</p>
<p>Data publikacji: {frontmatter.date}</p>
<p>{frontmatter.description}</p>
<slot />