---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
<p>Autor: {frontmatter.author}</p>
<p>Data publikacji: {frontmatter.date}</p>
<p>{frontmatter.description}</p>
<slot />
</BaseLayout>